:root {
  --black: #000;
  --grey: #121212;
  --light-grey: #232323;
  --white: #fff;
}

body,
html {
  height: 100%;
  margin: 0rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: var(--black);
  padding: 0.5rem;
}

.sidebar {
  flex: 0.25;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.top-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--grey);
  border-radius: 0.5rem;
}

.link-flex {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: cover;
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.8rem;
}

.link-flex:hover {
  opacity: 1;
  transition: all 0.3s;
}

.link-flex img {
  height: 1.2rem;
  width: 1.2rem;
}
.link-flex p {
  font-size: 1rem;
  color: var(--white);
}

.library {
  display:flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex: 3;

  background-color: var(--grey);
 
}

.flex-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-top img {
  height: 1rem;
  width: 1rem;
  opacity: 0.8;
  margin-top: 0.5rem;
}

.flex-top p {
  font-size: 0.8rem;
  opacity: 0.8;
}

.flex-top p:hover {
  opacity: 1;
  transition: all 0.3s;
}

.flex-top img:hover {
  opacity: 1;
  transition: all 0.3s;
}

.chip {
  padding: 0.5rem 0.75rem;
  background-color: var(--light-grey);
  border-radius: 5rem;
  width: fit-content;
  font-weight: normal;
  color: var(--white);
}
.list {
  overflow-x: scroll;
}
.list::-webkit-scrollbar{
  height:0px !important;
}

.spotify-playlists::-webkit-scrollbar {
  width: fit-content;
  height: 20%;
}
.list::-webkit-scrollbar-track {
  background-color: rgba(9, 255, 83, 0.5);
  border-radius: 10px;
}
.list::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(15, 15, 16) 0%, rgb(76, 86, 106) 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(184, 178, 178, 0.5);
}

.list::-webkit-scrollbar {
  width: fit-content;
  height: 0.7rem;
}

.main-content {
  flex: 0.8;
  overflow-y: auto;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  padding-bottom: 6rem;
}
.album{
  display: flex;
  gap: 7px;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 150px;

}
.col-flex{
  font-weight: normal;
  font-size: 0.8rem; 
}

.album {
  overflow-y: scroll;
}
.album::-webkit-scrollbar{
  width:0px !important;
}



.albums::-webkit-scrollbar {
  width: 6px;
  /* height: 0.7rem; */
}
.albums::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.albums{
  font-size:10rem ;
}
.alb-siz{
  font-size:30px ;
  

}

.album-centre {
  height: 3rem !important;
  width: 3rem !important;
  border-radius: 0.2rem;
}

.col-flex p {
  margin: 0;
  font-weight: normal;
  font-size: 0.8rem;
}

.album-name {
  color: var(--white);
  font-size: 1rem !important;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  align-items: center;
  background-color: var(--grey);
  z-index: 1000;
 
}
.albums{
  display: flex;
  gap: 7px; 
  flex-direction: column;
  overflow-y: scroll;

}
.cards-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
 
}

.card {
  width: 150px;
  background-color: var(--light-grey);
  padding: 0.75rem;
  border-radius: 0.5rem;
  height: fit-content;
  margin: 0rem 0.75rem;
}


.card-description {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.5;
}

.player {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-controls {
  width: 20vw;
}

.player-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.player-controls {
  display: flex;
  align-items: center;
}

.volume-controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.player-timeline {
  display: flex;
  align-items: center;
}

.timeline-slider {
  
  width: 40vw;
}

.volume-slider {
  width: 100px;
  height: 4px;
}


.timeline-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 100px;
}

.timeline-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #6bc15c;
}



.spotify-playlists h2{
  color: #ffffff;
  font-size:  22px;
  gap:20px;
}
.spotify-playlists .list {
  display: flex;
  gap: 20px;

 
}
.spotify-playlists .list .item {
  min-width: 140px;
  width: 160px;
  padding: 15px;
  /* gap:20px; */
  background-color: #000000;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.spotify-playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  gap: 10px;
}
.spotify-playlists .list .item .play {
  position: relative;
}
.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20);
}
.spotify-playlists .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  gap: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spotify-playlists .list .item p{
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20);
}

.sidebar .navigation ul {
  list-style: none;
  gap: 20px;
}

.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
